@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,500;1,200&display=swap');

.colors {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 1.5rem;
    justify-content: center;
    justify-items: center;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px;
}

.btn {
    width: 20vh;
    height: 20vh;
    max-height: 200px;
    max-width: 200px;
    border-radius: 10%;
    border: 6px solid #7146b3;
    
}

