body {
    background: rgb(193,164,210);
background: linear-gradient(360deg, rgba(193,164,210,1) 8%, rgba(155,45,203,1) 100%);
height: 100vh;
display: flex;
justify-content: center;
flex-direction: column;

}

h1, h2 {
    text-align: center;
    color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    padding: 0;

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px;
}

#reset {
    background-color: rgb(124, 104, 225);
    outline: none;
    border: 2px solid gainsboro;
    width: 100px;
    color: gainsboro;
    flex: 24px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.btn {
    width: 100%;
    height: 20vh;
    max-height: 200px;
    border-radius: 10%;
    border: none;
    background-color: gainsboro;
}

